RADARR_0_API_KEY=your_radarr_api_key
RADARR_1_API_KEY=your_radarr_api_key
RADARR_2_API_KEY=your_radarr_api_key
SONARR_0_API_KEY=your_sonarr_api_key
SONARR_1_API_KEY=your_sonarr_api_key
SONARR_2_API_KEY=your_sonarr_api_key